*{
    margin: 0;
    padding: 0;
}
.main{
        width: 100%;
        height: 110vh;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.6)50%), url(bg.jpg);
        background-position: center;
        background-size: cover; 
 }
.navbar{
        width: 1200px;
        margin: auto;
        height: 80px;
  }
.icon{
        float: left;
        width: 200px;
        height: 70px;
 }
.logo{
        color: rgb(255, 0, 0);
        font-size: 30px;
        font-family: Arial;
        padding-left: 15px;
        font-weight: bold;
        float: left;
        padding-top: 10px;
    }  
.menu{
        float: left;
        height: 80px;
        width: 500px;
    }
ul{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
ul li{
      list-style: none;
        margin-left: 60px;
        margin-top: 27px;
        font-size: 15px;
    }
ul li a{
        text-decoration: none;
        color:rgb(255, 255, 255);
        font-family: "Times New Roman";
        font-size: 20px;
        font-weight: bold;
        transition: .4s ease-in-out;
    } 
ul li a:hover{
        color: rgb(161, 138, 6);
    } 
.search{
    margin-right: 60px;
    right: 250px;
    padding-left: 30px;
   
   
}
.srch{
    font-family: sans-serif;
    background: transparent;
    height: 20px;
    width: 50px;
    border: 1px solid rgb(7, 4, 193);
    padding-left: 40px;
    padding-right: 60px;
    margin-left: 93px; 
    margin-top: 30px;   
}
.btn{
        width: 85px;
        height: 30px;
        background: rgb(82, 137, 219);
        border: 1px solid rgb(171, 156, 138);
        font-size: 15px;
        color: white;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-top: 13px;
        padding-left: 2px;
        margin-left: 20px;
        cursor: pointer;
    }
.btn:hover{
    color: chocolate;
    background: gold;
}
.btn:focus{
        outline: none;
    } 
.srch:focus{
        outline: none;
    }
.content{
        width: 1200px;
        margin: auto;
        color: white;
        position: relative;
        height: auto;
    }
.content .par{
     padding-left: 20px;
     padding-bottom: 25px;
     font-family: 'Times New Roman';
     letter-spacing: 1.1px;
     line-height: 30px;
    }
.content h1{
        font-size: 50px;
        font-family: 'Times New Roman';
        padding-left: 20px;
        margin-top: 9%;
        letter-spacing: 1.7px;
    }
.content .cn{
        width: 150px;
        height: 40px;
        background: rgb(167, 153, 0);
        border: none;
        font-size: 18px;
        color: white;
        margin-left: 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 10px;
        transition: .4s ease;
    }
.content .cn a{
        text-decoration: none;
        color: rgb(15, 5, 5);
        transition: .3s ease;
    }
.cn:hover{
        background: rgb(88, 45, 94);
    }
.content span{
        color: rgb(0, 85, 155);
        font-size: 50px;
    }
.form{
        width: 250px;
        height: 370px;
        background: linear-gradient(to top,rgb(84, 217, 226)50%,rgba(86, 235, 246, 0.4)50%);
      position: absolute;
        top: 130px;
        left: 870px;
        border-radius: 10px;
        padding: 25px;
        margin-top: auto;
}
.form h2{
   width: 220px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 2px;
    text-align: center;
    background-color: rgb(61, 188, 197);
    padding: 8px;
    border-radius: 10px;
}
.form input{
        width: 230px;
        height: 35px;
        background: transparent;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid rgb(19, 35, 203);
        margin-top: 30px;
        font-size: 16px;
        color: black;
        letter-spacing: 1px;
        font-family: sans-serif;
    }
.form input:focus{
        outline: none;
    }
::placeholder{
        color: rgb(255, 255, 255);
        font-family: Arial;
    }
.sub{
        width: 220px;
        height: 35px;
        background: rgb(179, 187, 36);
        border: none;
        border-radius: 5px;
        margin-top: 30px;
        font-size: 18px;
        color: white;
        cursor: pointer;
    }
.sub:hover{
    background: rgb(76, 26, 101);
    color: rgb(240, 213, 213);

}
.sub a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: 'Times New Roman';
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: rgb(255, 17, 0);
}
.form .link a:hover{
    color: rgb(128, 0, 183);
    font-weight: bold;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;

}
.icon a{
    text-decoration: none;
    color: azure;
}
.icon ion-icon{
    color: rgb(243, 239, 204);
    font-size: 20px;
    padding-left: 16px;
    padding-top: 2px;
    transition: .3s ease;
   
}
.icon ion-icon:hover{
    color: rgb(230, 150, 1);
}